<h1 class="text-success">TaleLink Stories</h1>
<button routerLink="/login" class="btn btn-success m-1">Login</button>
<button *ngIf="!user_login_text.user_name" routerLink="/register" class="btn btn-primary m-1">SignUp</button>
<button  *ngIf="user_login_text.user_name" (click)="logout()" class="btn btn-danger m-1">Logout</button>
<button *ngIf="user_login_text.user_name" class="btn btn-info m-1" routerLink="/profile">Profile</button>
<p>{{user_login_text.login_text}}<span style="font-weight: bold;">{{user_login_text.user_name}}</span></p>

<button *ngIf="user_login_text.user_name" class="btn btn-info mt-2" routerLink="new-tale">Start New Tale</button>
<div class="row mt-5">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let story of stories | slice:(page-1)*pageSize:page*pageSize">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ story.title }}</h5>
        <p class="card-text">ID: {{ story.id }}</p>
        <p class="card-text">Created: {{ story.timestamp | date :'short'}}</p>
        <p class="card-text">Edit: {{ story.isEdit }}</p>
        <p class="card-text">Text: {{ story.text }}</p>
        <p class="card-text">Category: {{ story.category }}</p>
        <p class="card-text">Updated: {{ story.updated | date :'short'}}</p>
        <p class="card-text">Created by: {{ story.user }}</p>
        <button class="btn btn-danger" (click)="deleteStory(story.id)">Delete Story</button>
      </div>
    </div>
  </div>
</div>
<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="stories.length"></ngb-pagination>





  
