<h1 class="text-success">TaleLink Stories</h1>



<div class="dragon-container" [ngbCollapse]="dragonCollapsed" (click)="toggleDragonCollapse()">
  <div class="dragon">
<div class="container">
  <div class="face">
    <div class="eye"></div>
    <div class="nostril"></div>
    <div class="ear"></div>
    <div class="horn horn-l"></div>
    <div class="horn horn-r"></div>
  </div>
  <div class="body">
    <div class="stomach"></div>
  </div>
  <div class="wing wing-l"></div>
  <div class="wing wing-r"></div>
  <div class="arm arm-l"></div>
  <div class="arm arm-r"></div>
  <div class="forearm forearm-l"></div>
  <div class="forearm forearm-r"></div>
  <div class="leg leg-l"></div>
  <div class="leg leg-r"></div>
  <div class="shadow"></div>
</div>
</div>
</div>



<button class="btn btn-info mt-2" routerLink="new-tale">Start New Tale</button>
<div class="row mt-5">
  <div class="col-lg-4 col-md-6 col-sm-12 mb-2" *ngFor="let story of stories | slice:(page-1)*pageSize:page*pageSize">
    <div class="card mb-2 h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ story.title }}</h5><span><p class="card-text">Category: {{ story.category }}</p></span>
        
        <p class="card-text">Created: {{ story.timestamp | date :'short'}}</p>
        <p class="card-text">{{ story.text | slice:0:400 }}{{ story.text.length > 400 ? '...' : '' }}</p>
       
        
        
        <div class="mt-auto">
          <div class="d-flex flex-row">
            <p class="card-text">Updated: {{ story.updated | date :'short'}}</p>
            <span class="mx-2">-</span>
            <p class="card-text">Created by: {{ story.user }}</p>
          </div>
          <button class="btn btn-primary" (click)="viewStory(story.id)">View Tale</button>
          <button class="btn btn-danger mx-2" (click)="deleteStory(story.id)">Delete Tale</button>
        </div>
      </div>
    </div>
    
</div>
<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="stories.length"></ngb-pagination>





  
