@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.font-new {
  font-family: 'Amatic SC', sans-serif;
  text-shadow: 1px 1px 2px black;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #21173c!important;
  border-color: #21173c;
  color: white;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #21173c !important;
  border-color: #21173c;
  color: white;
}