<header class="text-white nav-background">
    <div class="container-fluid justify-content-center">
      <div class="d-flex flex-wrap align-items-center justify-content-center p-3">
          <img src="assets/images/Logo 2.jpg" class="rounded-circle" style="width:100px; height: 100px;">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="text-end">
          <button *ngIf="!loggedIn" routerLink="/login" type="button" class="btn btn-outline-light me-2">Login</button>
          <button *ngIf="!loggedIn" routerLink="/register" type="button" class="btn btn-warning">Sign-up</button>
          <button *ngIf="loggedIn" (click)="logout()" class="btn btn-danger m-1" type="button">Logout</button>
          <button *ngIf="loggedIn" class="btn btn-info m-1" routerLink="/profile" type="button">Profile</button>
          <small class="m-1">{{user_login_text.login_text}}<span style="font-weight: bold;">{{user_login_text.user_name}}</span></small>
        </div>
      </div>
    </div>
  </header>