<div *ngIf="!loading">
  <h2>{{ story.title }}</h2>
  <p>Category: {{ story.category }}</p>
  <p>Created by: {{ story.user }}</p>
  <p>Last updated by: {{ story.updatedBy }}</p>
  <p>Last updated: {{ story.updated }}</p>

  <!-- Display the current text -->
  <p>{{ story.text }}</p>

  <!-- Update form -->
  <form (ngSubmit)="updateStory()">
    <div class="mb-3">
      <label for="newText" class="form-label">Continue the Tale</label>
      <textarea [(ngModel)]="story.newText" name="newText" id="newText" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
